{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Muay Thai</h1>
        <p>8 limes of Death! Kick, Punch, Knee, Elbow! 8 limes of Death! Kick, Punch, Knee, Elbow! 8 limes of Death! Kick, Punch, Knee, Elbow! 8 limes of Death! Kick, Punch, Knee, Elbow! 8 limes of Death! Kick, Punch, Knee, Elbow! 8 limes of Death! Kick, Punch, Knee, Elbow! 8 limes of Death! Kick, Punch, Knee, Elbow! 8 limes of Death! Kick, Punch, Knee, Elbow! 8 limes of Death! Kick, Punch, Knee, Elbow! </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <h2>Photos</h2>
          <p>Photos<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <h2>videos</h2>
          <p>Videos<p><a class="btn btn-default" href="#" role="button">View details &raquo;<
    </div> <!-- /container -->
{% endblock %}