{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


    <div class="jumbotron">
      <div class="container">
        <h1>Nutrition</h1>
        <p> Eat Heathly Food! Eat Heathly Food! Eat Heathly Food! Eat Heathly Food! Eat Heathly Food! Eat Heathly Food! Eat Heathly Food! Eat Heathly Food! Eat Heathly Food! Eat Heathly Food! Eat Heathly Food! Eat Heathly Food! Eat Heathly Food! Eat Heathly Food! Eat Heathly Food! Eat Heathly Food! Eat Heathly Food! Eat Heathly Food! Eat Heathly Food! Eat Heathly Food! Eat Heathly Food! Eat Heathly Food! Eat Heathly Food! Eat Heathly Food!</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Ask Me Questions &raquo;</a></p>
      </div>
    </div>
{% endblock %}